body{
    background-color: rgb(251, 252, 253);
}

p{
    font-family: Calibri, sans-serif;
}

header{
    font-size: 12pt;
    color: gray;
    margin-bottom: 20px;
}

header b{
    color: black;
}

/* 1 size - Payment information - FULL SIZE OF SCREEN*/ 
main{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    /* background-color: pink; */
}

section{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(193, 193, 194);
}

.container{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    height: 270px;
    margin-bottom: 30px;
}

/* --------- Chocolate bar block */
.Chocolate_bar{
    width: 40%;
    height: 250px;
}

.price-row{
    display: flex;
    direction: row;
    align-items: center;
    height: 13%;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 11pt;
}

.pic{
    width: 30px;
    height: 25px;
    padding: 10px 7px 10px 7px;
    border-radius: 6px;
    background-color: white;
    border: 1.2px solid rgb(213, 219, 221);
}

.name-operation{
    width: 80%;
    height: 25px;
}

.price{
    width: 20%;
    text-align: right;
}

 /* --------- Payment_information block */
.Payment_inf{
    width: 57%;
    margin-right: 3%;
}

form{
    font-family: Calibri, sans-serif;
    margin: 0 30px;
    height: 240px;
    display: flex;
    flex-direction: column;
}

.form-like{
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    font-weight: bold;
    color: rgb(160, 160, 160);
}

.block_for_3_forms{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.block_for_2_forms{
    display: inline-flex;
}

input[type='text']{
    border-radius: 5px;
    height: 30px;
    border: 1.2px solid rgb(213, 219, 221);
    outline: none;
}

.text-label{
    margin-bottom: 10px;
}

input.card_holder{
    width: 60%;
}

input:focus{
    border: 1.2px solid rgb(58, 58, 58);
}

/* --------- Billing address block */
.container-like{
    display: flex;
    width: 90%;
    height: 270px;
}

.Billing_add{
    width: 57%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-family: Calibri, sans-serif;
}

.address-row{
    display: inline-flex;
    align-items: center;
    height: 10%;
    font-size: 12pt;
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
}

/* ------- С этими кружочками какая-то дичь вообще, но они получились и у-р-а 
Просто стандартные кружочки нельзя редактировать - надо скрывать их блоки и делать свои (! ДИЧЬ !)*/

.radio-input {
    display: none;
}

.radio-label {
    padding-left: 30px;
    cursor: pointer; /* курсор рука */
}

.radio-label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1.2px solid rgb(213, 219, 221);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute; /* расположен точно в родителе */
    top: 0; /* расстояние от верха родителя */
    left: 0; /* расстояние слева от родителя */
    margin-left: 30px;
}

.radio-label:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #206dd1;
    border-radius: 50%;
    opacity: 0; /* полностью прозрачный */
    position: absolute;
    top: 4.3px;
    left: 4.1px;
    transition: opacity .3s linear;
    margin-left: 30px;
}

.radio-input:checked + .radio-label:after {
    opacity: 1;
}

/* ------------- конец этих диких кружочков */

/* 2 size - Payment information - card holder & exp.date & cvc by inline direction */
@media (max-width: 900px){
    main{
        margin-left: 3%;
        margin-right: 3%;
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 530px;
    }

    .Chocolate_bar{
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }
    
    .Payment_inf{
        width: 100%;
        height: 250px;
    }

    .container-like{
        display: flex;
        width: 100%;
    }

    .Billing_add{
        width: 100%;
        height: 200px;
    }
}

/* 3 size - Payment information - only exp.date & cvc by inline direction */ 
@media (max-width: 650px){

}
